
\.DS_Store

\.Rhistory

examples/RMD_example1\.html

examples/output\.pdf

examples/RMD_knitpipeline\.html

examples/temp\.rds

examples/RMD_example1\.rds

examples/RMD_example1\.RMD

examples/example2_missingness\.html

examples/example2_missingness\.rds

examples/example2_missingness\.RMD

examples/example1_simplepipeline\.html

examples/example1_simplepipeline\.rds

examples/example1_simplepipeline\.RMD

examples/example3_newfuns\.R
